<nav class="barnav">
<ul id="nav">
<li><a href="/">Accueil</a></li>
<li><a href="/exos">exos</a></li>
<li><a href="/users">user</a></li>
<li><a href="/toto">Toto (error)</a></li>
<li><a href="/countries">countries</a></li>
<li><a href="/countriesdb">countriesdb</a></li>
<li><a href="/usersdb">usersdb</a></li>